.bg-color {
    background-color: rgba(203, 202, 202, 0.722);
    color: #000;

}
.cards{
    width: 280px;
    height: 370px;
    margin-bottom: 20px;
   
    
}
.cards-body{
    padding: 20px;
    width: 280px;
}
.cards img{
  width: 280px;
    height: 200px;
   
}

.cards:hover .cards-body{
background: rgb(135, 135, 135);
   color: #fff;
}