.convert-container{
    background-image: url('../../img/bitcoin-3132574__340.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: lighten;
}
.convert-content{
    backdrop-filter: blur(5px);
padding: 20px;
}


@media screen and (max-width:360px) {
    .convert-content{
       width: 450px;
    }
}