.convert-container{
    background-image: url('../../img/depositphotos_152853602-stock-photo-bitcoin-coin-l-on-laptop.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: lighten;
}
.convert-content{
padding: 20px;
}


@media screen and (max-width:360px) {
    .convert-content{
       width: 450px;
    }
}