.slider {
    /* height: 550px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
   box-sizing: border-box;
    background-blend-mode: overlay;
    /* background-color: (0,0,0,0.5); */
}
.swiper {
    width: 100%;
    height: 100%;
color: #fff;
    border-radius: 5px;
   
}
.swiper-slide {
  margin: auto, auto;
    font-weight: 700;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.slider-text {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}