.signup-bg{
    background-image: url('../../img/depositphotos_152853602-stock-photo-bitcoin-coin-l-on-laptop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
}
/* .content-bg{
    backdrop-filter: blur(5px);
    margin: 10px 100px;
} */